body {
  overflow: hidden;
  font-family: "Press Start 2P", cursive;
}

.parallax {
  position: absolute;
  width: 100%;
  height: 1080px;
  overflow: hidden;
  top: 0;
  left: 0;
}
.parallax div {
  /*enable 3D rendering*/
  transform: translateZ(0);
  will-change: transform;
}

.layer {
  position: fixed;
  max-width: 1800px;
  max-height: 80%;
  top: -10;
  left: 0;
  background-repeat: no-repeat;
  background-position: top center;
}

.bg-layer {
  
  background-image: url(img/grid1.png);
}

.source-layer1 {
  background-image: url(img/cloud_L.png);
}

.source-layer2 {
  background-image: url(img/cloud_R.png);
}

.source-layer3 {
  background-image: url(img/table.png);
}

.source-layer4 {
  background-image: url(img/ben01.png);
}

.source-layer5 {
  background-image: url(img/ben2.png);
}

.source-layer6 {
  background-image: url(img/ben3.png);
}

/* Main Styles */
body {
  background-color: #f5f5f5;
  color: #110aff;
  font-family: "Press Start 2P", cursive;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
}

#page-wrapper {
  padding: 1.5em;
}

p.center {
  text-align: center;
}

h1 {
  color: #0198cc;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}

/* Modal Styles */
#css-modal {
  bottom: 0;
  height: 100%;
  left: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  white-space: nowrap;
  z-index: 10000000;
}

#css-modal h2 {
  color: #0198cc;
  font-size: 2em;
  letter-spacing: 0.02em;
  padding: 0;
  margin-bottom: 0.5em;
  margin-top: 0;
}

#css-modal .css-modal-check {
  display: none;
  pointer-events: auto;
}

#css-modal .css-modal-check:checked ~ .css-modal {
  opacity: 1;
  pointer-events: auto;
}

#css-modal .css-modal {
  background: #fff;
  border-radius: 3px;
  display: inline-block;
  max-width: 800px;
  opacity: 0;
  padding: 2.25em;
  pointer-events: none;
  position: relative;
  text-align: center;
  vertical-align: middle;
  white-space: normal;
  z-index: 1;
}

#css-modal .css-modal p {
  text-align: left;
}

#css-modal .css-modal .close {
  position: absolute;
  right: 1em;
  top: 0.5em;
}

#css-modal .css-modal .css-modal-btn button {
  font-weight: 700;
  letter-spacing: 0.05em;
  margin-top: 1em;
}

#css-modal .css-modal-check:checked ~ #overlay {
  opacity: 0.8;
  pointer-events: auto;
}

#css-modal #overlay {
  background: #000;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.8s;
}

#css-modal:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.close:after {
  color: #0198cc;
  content: "\0058";
  float: right;
  font-size: 1.75em;
}

#css-modal .btn-primary {
  color: #fff;
  background-color: #0198cc;
}

#css-modal .btn-primary:hover {
  background-color: #01afea;
}

#css-modal .btn {
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  padding: 0.75em 1.25em;
  text-align: center;
}

.nav .nav-item {
  position: fixed;
  z-index: 9999;
}

.nav .logo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 50px;
  width: 80px;
  height: 80px;
}

.nav .link {
  width: 30px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  left: 0%;
  bottom: 0%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  margin-bottom: 0px;
  margin-left: 65px;
}

.nav .link .icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
}

.nav .link .icon:hover .icon-hover {
  opacity: 1;
}

.nav .link .icon .icon-hover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 30px;
  height: 30px;
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#mute {
  cursor: pointer;
  height: 80px;
  width: 80px;
  position: absolute;
  right: 50px;
  top: 50px;
  background-size: cover;
}

#playlist {
  list-style: none;
  cursor: pointer;
  font-size: 30px;
  position: absolute;
  right: 50px;
  bottom: 30px;
  background-size: cover;
}

#playlist li  {
  color: rgb(73, 73, 73);
  text-decoration: none;
}

#playlist .current-song  {
  color: rgb(0, 0, 0);
}



@import url('//cdn.rawgit.com/necolas/normalize.css/master/normalize.css');
@import url('//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css');



.color {
	width: 30px;
	height: 35px;
	border: 1px solid rgb(255, 255, 255);
	display: inline-block;
	margin: 0 0 0 0.2em;
	cursor: pointer;
  padding: 0px;
}

.gray {

	background-color: #2C9DFF;
}
.black {
	background-color: #000;
}


.blue {
	background-color: #4F9D00;
}
